@import './../../variables.scss';

.portfolio{
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  h1{
    font-size: 50px;
    margin-bottom: 50px;
    @include mobile{
      margin: 10px;
      font-size: 30px;
      overflow: hidden;
    }
  }
  .portfolio__list{
    margin: 10px;
    padding: 0;
    list-style: none;
    display: flex;
    width: 30%;
}
  .portfolio__container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    overflow: hidden;

    .portfolio__item{
      width: 280px;
      height: 180px;
      border: 1px solid rgb(240, 239, 239);
      border-radius: 20px;
      margin: 10px 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: white;
      position: relative;
      transition: all .5s ease;
      cursor: pointer;
      @include mobile{
        width: 250px;
        height: 150px;
      }
      

      a{
        position: absolute;
        font-size: 20px;
        text-decoration: none;
        color: white;
      }
      img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: 1;
      }
      &:hover{
        background-color: $mainColor;
        img{
          opacity: 0.2;
          z-index: 0;
        }
      }
    }
  }
}